# Core Frameworks
streamlit==1.31.1
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.2
scipy==1.13.0

# Deep Learning / Time Series
xgboost==2.0.3
matplotlib==3.8.4
seaborn==0.13.2
shap==0.44.0

# Causal Inference
dowhy==0.9.1
econml==0.14.1

# Survival Analysis
lifelines==0.28.0

# Dimensionality Reduction
umap-learn==0.5.5

# LLMs and LangChain
openai==1.30.1
langchain==0.2.2
langchain-openai==0.1.6

# Other Useful Packages
plotly==5.22.0
joblib==1.4.2
statsmodels==0.14.2
pyyaml==6.0.1
